<h1>Detail Page</h1>
{{! findByID(id)取出在資料庫的單筆資料後，存在todo裡面，可拿到樣板做使用 }}
<p>
  <input type="checkbox" name="isDone" {{#if todo.isDone}} checked {{/if}}disabled>
  {{todo.name}}</p>
<a href="/todos/{{todo._id}}/edit">edit</a>
<a href="/">back index page</a>
<form action="/todos/{{todo._id}}?_method=DELETE" method="POST" style="display:inline">
  <button type="submit">delete</button>
</form>